body 
{
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;
}


* {box-sizing: border-box;}


.instrument-name
{
    text-justify: center;
    text-align: center;
}

.drum-pad
{
    all: unset;
    aspect-ratio: 1 / 1;
    flex: 1;
    display: flex;

    background-color: #ddd;
    border: 1px solid #555;
    border-radius: 2px;  
    padding: initial;        
    
    
    background-color: ButtonFace; 
    
    cursor: pointer;
    transition: background-color 0.2s; 
}


.pad-group
{
    display: flex;
    gap: 2px;
    flex: 1;
}

.pad-row
{
    display: flex;
    gap: 20px;
}

.drum-pad.active
{
    background-color: rgb(106, 202, 175);
}

.wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d7d7d7;
    width: 100vh;
    max-width: 800px;
    height: 50vh;
    padding: 2%;
    gap: 15px;
    border-radius: 2px;
}

.sequencer
{
    display: flex;
    width: 100%;
    margin: 0 auto; 
    background-color: #eefbff;
    padding: 2%;
    border-radius: 2px;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.instrument-labels, .pad-grid
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100px;

}

.instrument-labels
{
    width: 20%;
}

.pad-grid 
{
    width: 100%;
}

.label 
{
  font-size: clamp(1rem, 2vw, 20px);
}
