body 
{
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;
}


* 
{
    box-sizing: border-box;
    /*border: 1px solid red;*/

}

.container, .wrapper, .sequencer
{
    border-radius: 2px;
}

.instrument-name
{
    text-justify: center;
    text-align: center;
}

.drum-pad
{
    all: unset;
    aspect-ratio: 1 / 1;
    flex: 1;
    display: flex;

    background-color: #ddd;
    border: 1px solid #555;
    border-radius: 2px;  
    padding: initial;        
    
    
    background-color: ButtonFace; 
    
    cursor: pointer;
    transition: background-color 0.2s; 
}


.pad-group
{
    display: flex;
    gap: 2px;
    flex: 1;
}

.pad-row
{
    display: flex;
    gap: 20px;
}

.drum-pad.active
{
    background-color: rgb(106, 202, 175);
}

.wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a6a6a6;
    width: 700px;
    max-width: 700px;
    height: 500px;
    padding: 2%;
    gap: 15px;
    border-radius: 2px;
}

.sequencer
{
    display: flex;
    width: 100%;
    margin: 0 auto; 
    background-color: #ecfcff;
    padding: 2%;
    border-radius: 2px;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.pad-grid
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}




.label 
{
  font-size: clamp(.5rem, 2vw, 12px);
}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #cdcdcd;
}

.full-row
{
    width: 100%;
}

#playButton
{
    width: 50%;

}

#title
{
    flex: 1;
}
#drumMachine
{
    padding: 2%;
    flex: 7;
    width: 100%;
    gap: 5px;
}